<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th class="span8">Nombre</th>
        <th class="span1">Estimado</th>
        <th class="span1">Restante</th>
        <th class="span2">Herramientas</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks">
        <td ng-click="edit(task.$id())">{{task.name}}</td>
        <td>{{task.estimation}}</td>
        <td>{{task.remaining}}</td>
        <td></td>
    </tr>
    <tr ng-show="!tasks.length">
        <td colspan="4">No hay tarea definida para este sprint</td>
    </tr>
    </tbody>
</table>
<div class="well">
    <button class="btn" ng-click="new()">Nueva Tarea</button>
</div>